@model PersonalSettings

@{
    ViewData["Title"] = "Персональные Настройки Тренировок";
}

<div class="row pt-5">
    <div class="col-md-3">
    </div>
    <div class="col-md-5">
        <form method="post" autocomplete="off" enctype="multipart/form-data" class="px-5">
            <input asp-for="UserId" hidden>
            <input asp-for="PersonalSettingsId" hidden>
            <fieldset class="form-group px-5 mb-4">
                <legend class="mt-4">Custom Modifiers</legend>
                <div class="form-control border-0 mb-1 col-md-6">
                    <label asp-for="NewDailyCardsNumber" class="ms-2 text-muted">Количество ежедневных новых карт:</label>
                    <input asp-for="NewDailyCardsNumber" />
                    <span asp-validation-for="NewDailyCardsNumber" class="text-danger"></span>
                </div>
                <div class="form-control border-0 mb-1 col-md-6">
                    <label asp-for="HighlightAnswer" class="ms-2 text-muted">Подсвечивать ответ: </label>
                    <input type="checkbox" asp-for="HighlightAnswer" />
                    <span asp-validation-for="HighlightAnswer" class="text-danger"></span>
                </div>
                <div class="form-control border-0 mb-1 col-md-6">
                    <label asp-for="DisplayTranslation" class="ms-2 text-muted">Показывать перевод: </label>
                    <input type="checkbox" asp-for="DisplayTranslation" />
                    <span asp-validation-for="DisplayTranslation" class="text-danger"></span>
                </div>
            </fieldset>
            <div class="row px-5">
                <button type="submit" class="btn border border-dark btn-outline-secondary form-control">Сохранить изменения</button>
            </div>
        </form>
    </div>
    <partial name="_SettingsSideBarPartial" />
</div>