@{
    ViewData["Title"] = "Добро Пожаловать";
}

<div class="text-center py-5">
    <h1 class="display-4">Добро пожаловать!</h1>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-lg form-control" asp-area="Identity" asp-controller="Authentication" asp-action="Login">Вход</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-lg form-control" asp-area="Identity" asp-controller="Authentication" asp-action="Register">Регистрация</a>
    </div>
    <div class="col-md-4"></div>
</div>