<div class="text-center py-5">
    <p class="h3">Вы закончили тренировку на сегодня!</p>
    <div class="row my-2">
        <div class="col-md-2 offset-md-5">
            <a class="btn btn-primary" asp-area="User" asp-controller="Home" asp-action="Index">На главную!</a>
        </div>
    </div>
</div>