@{
    ViewData["Title"] = "Управление. Предложения";
}

<form method="post" enctype="multipart/form-data">
    <div class="form-floating mb-3" style="font-size: 1.2em">
        <input type="file" name="file" class="form-control">
        <label class="m-0 pt-2 px-2">Файл с предложениями</label>
    </div>
    @* <div class="form-group">
        <label for="formFile" class="form-label mt-4">Файл с предложениями</label>
        <input class="form-control" type="file" id="formFile">
    </div> *@
    <div class="col-12">
        <button type="submit" class="btn border border-dark btn-outline-secondary form-control">Войти</button>
    </div>
</form>